<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/Style.css">
  <link rel="stylesheet" href="../css/popup_style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../js/Master.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
    
    <!-- Custom styles for this template -->
    <link href="../css/sidebars.css" rel="stylesheet">
	<link href="../css/form-validation.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="../css/perfil.css" rel="stylesheet">
</head> 

<body>
    <div class="flex-shrink-0 p-3 bg-white" id="Cabecera" ></div>

    <main class="d-flex flex-nowrap">

        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;" id="Menu"></div>
        <div class="b-example-divider b-example-vr"></div> 	

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://scontent.ftgu1-2.fna.fbcdn.net/v/t1.6435-9/52769438_311810086205118_4560613054777131008_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=e3f864&_nc_ohc=9_clHPKkI0QAX_gDi_y&_nc_ht=scontent.ftgu1-2.fna&oh=00_AT-fvYHu1z8iOXTK6PcNq69D5JG1R2cchLehnjzq0wOoMg&oe=6340962B" width="1195" height="450" >
    </div>
    <div class="carousel-item">
      <img src="https://scontent.ftgu1-1.fna.fbcdn.net/v/t39.30808-6/251348594_876128646439923_5305316506346951575_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_ohc=oJneE6KxoagAX-n7-nL&_nc_ht=scontent.ftgu1-1.fna&oh=00_AT8FWUNUqWqAqA7llXnTfArJJUwvGpLRNvj4ndkUR5IsbA&oe=631EAC3B" width="1195" height="450" >
    </div>
    <div class="carousel-item">
      <img src="https://scontent.ftgu1-2.fna.fbcdn.net/v/t1.6435-9/126383329_679580676094722_2796396684457807098_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Ms8G7nPVhPcAX91STLP&_nc_ht=scontent.ftgu1-2.fna&oh=00_AT-QoCaaxoLxRBVTVUVYj6OUBs_Y-ZIdNOxwZqgB97TCGQ&oe=633FB595" width="1195" height="450">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <div id="margen2"></div>
  <div id="margen2"></div>
  <div id="margen2"></div>
  <b><p align="center"> BurriDogs es una empresa que nació por el gusto y el sueño brindarle a las personas los mejores Hot Dogs de la región.
      Nuestra empresa ha sido producto de perseverancia, sacrificio y pasión por lo que hacemos. Tenemos como objetivo
      principal, brindarle a nuestros clientes un experiencia satisfactoria, donde puedan disfrutar de nuestros servicios al lado 
      de sus seres más apreciados. 
  </p></b>
  <div id="margen2"></div>
  <div id="margen2"></div>
  <div id="margen2"></div>
  <div id="margen2"></div>
  <div id="margen2"></div>
  <div id="margen2"></div>
  <div id="margen2"></div>
  <div id="margen2"></div>
  <div id="margen2"></div>

<img src="https://scontent.ftgu1-1.fna.fbcdn.net/v/t39.30808-6/278816243_969838413735612_4372159587590093585_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=JGYhHgvsKpsAX8gjdKF&_nc_ht=scontent.ftgu1-1.fna&oh=00_AT_jO2DTr0Ssy3-v1kkOwoDmK1dSZvVsRD9m2p8gRqR1-g&oe=631E77A5" class="rounded float-start" width="450" height="500">
<img src="https://scontent.ftgu1-1.fna.fbcdn.net/v/t39.30808-6/278137263_961093454610108_420592583626004615_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=oU3Qel2cKmQAX-fJhEz&tn=I_ngqUdJV0Uwythv&_nc_ht=scontent.ftgu1-1.fna&oh=00_AT_p6If-PTTyd0mEBiu6Z0JTjXg1MHf8QF-0MLFtGel-KQ&oe=631F1E95" class="rounded float-end" width="600" height="500">


</main>
<script src="../js/sidebars.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
